<?php if($errors): ?>
    <?php foreach($errors as $error): ?>
    <div class="failure"><?php echo $error; ?></div>
    <?php endforeach; ?>
    <?php return; ?>
<?php endif; ?>

<form class="form" action="index.php" method="GET">

    <input type="hidden" name="view" value="<?php echo $this::AK_STATEMENTS_RECEIVED; ?>" />
    <div class="caption">Параметры просмотра</div>

    <div class="field">
        <label for="inn" class="fixed">ИНН:</label>
        <input type="text" name="inn" id="inn" maxlength="14" placeholder="введите ИНН" value="<?php echo isset($_GET['inn']) ? htmlspecialchars($_GET['inn']) : '' ?>">
        <span class="hint">10 или 14 цифр</span>
    </div>

    <div class="field">
        <label for="status" class="fixed">Cостояние:</label>
        <select name="status" id="status">
            <option value="">Все доступные</option>
            <?php foreach($statuses as $status): ?>
            <option value="<?php echo $status['id']; ?>"<?php echo $status['id'] == $cStatus ? ' selected' : ''; ?>><?php
                echo htmlspecialchars($status['name']);
            ?></option>
            <?php endforeach; ?>
        </select>
        <span class="hint">Состояние заявки на текущий момент</span>
    </div>

    <div class="field buttons">
        <input type="submit" class="button" value="Поиск" />
    </div>

</form>

<?php if(isset($statements)): ?>
    <?php
        if($statements):

            $canAccessStatement = $this->isPermitted($this::AK_STATEMENT);
    ?>
        <div class="stripes-caption">
            <span class="col-inn">ИНН</span>
            <span class="col-name">Наименование</span>
            <span class="col-date-time">Дата отправки</span>
            <span class="col-status">Состояние</span>
            <span class="col-age">Возраст</span>
            <?php if($canAccessStatement): ?>
                <span class="col-action">Действие</span>
            <?php endif; ?>
        </div>

        <?php foreach($statements as &$statement): ?>
            <?php if($canAccessStatement): ?>
                <a href="index.php?view=<?php echo $this::AK_STATEMENT; ?>&id=<?php echo $statement['id']; ?>" class="stripe">
                    <span class="col-inn"><?php
                        echo htmlspecialchars($statement['inn']);
                    ?></span>
                    <span class="col-name"><?php
                        echo htmlspecialchars($statement['name']);
                    ?></span>
                    <span class="col-date-time"><?php
                        echo htmlspecialchars($statement['stamp']);
                    ?></span>
                    <span class="col-status"><?php
                        echo htmlspecialchars($statement['status-name']);
                    ?></span>
                    <span class="col-age"><?php
                        echo htmlspecialchars($statement['age']);
                    ?></span>
                    <span class="col-action">Просмотр</span>
                </a>
            <?php else: ?>
                <div class="stripe">
                    <span class="col-inn"><?php
                        echo htmlspecialchars($statement['inn']);
                    ?></span>
                    <span class="col-name"><?php
                        echo htmlspecialchars($statement['name']);
                    ?></span>
                    <span class="col-date-time"><?php
                        echo htmlspecialchars($statement['stamp']);
                    ?></span>
                    <span class="col-status"><?php
                        echo htmlspecialchars($statement['status-name']);
                    ?></span>
                    <span class="col-age"><?php
                        echo htmlspecialchars($statement['age']);
                    ?></span>
                </div>
        <?php
                endif;

            endforeach;
        ?>

        <div class="stripe-count">Всего: <b><?php echo $count; ?></b>.</div>

        {plugin:paginator}
    <?php else: ?>
        <div class="empty-resultset">Поступивших заявок не найдено.</div>
    <?php endif; ?>
<?php endif; ?>