<script type="text/javascript" src="resources/js/utils.js"></script>
<script type="text/javascript" src="resources/js/jquery-2.1.4.min.js"></script>
<style>

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
        z-index: 1000;
        vertical-align: middle;
    }
    .modal .modal_content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        z-index: 99999;
    }
    .modal .modal_content {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .modal .button {
        font-size: 12px;
        padding: 2px;
    }
    .modal #inpt_name {
        margin: 5px;
        width: 180px;
        border: 1px solid #888;
    }

    .modal .strong {
        font-size: 17px;
        color: #080808;
    }
    .modal .mt {
        font-size: 20px;

    }


    .modal_nw {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.6);
        z-index: 1000;
        vertical-align: middle;
    }
    .modal_nw .modal_content {
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        z-index: 99999;
    }
    .modal_nw .modal_content {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal_nw .strong {
        font-size: 16px;
        color: #080808;
    }
</style>
<form class="form">

    <div class="caption">Параметры поиска</div>

    <div class="field">
        <label for="uin" class="fixed">UIN:</label>
        <input type="text" name="uin" id="uin" style="width: 475px" maxlength="49" placeholder="введите UIN" value="<?php echo $cUin; ?>">
        <span class="hint">Уникальный межсистемный идентификатор документа, 49 цифр.</span>
    </div>
    <div class="field buttons">
        <input type="submit" class="button" id="sv_butt" value="Поиск" />
    </div>

</form>


<div id="my_modal" class="modal">
    <div class="modal_content">
        <label id="addLab" >Период</label>
        <br>

        <label align="center" id="err_dub" class="err_dub" style="top: 0.6em; color: red;  font-size: 16px; display: none">Нельзя заполнять месяц и квартал одновременно</label>
        <table align="center" style="">
        <tr>
            <td><label for="month"><strong class="strong">Месяц:</strong></label></td>
                <td><select  style="width: 180px" name="" id="month">
                </select><br></td>
           </tr><tr>
            <td><label for="quarter"><strong class="strong">Квартал:</strong></label></td>
                <td><select  style="width: 180px" name="" id="quarter">
                </select><br></td>
            </tr><tr>
            <td><label for="year"><strong class="strong">Год:</strong></label></td>
                <td><select  style="width: 180px" name="" id="year">
                </select><br></td>
        </tr>
        </table>

        <input type="submit" name="save_window" id="save_window" class="button" value="Сохранить"><br>
        <div align="center" id="save_lab" class="save_lab" style="top: 0.6em; color: #008d00;  font-size: 22px; display: none">Сохранено</div>
      <input type="submit" name="close_window" id="close_window" class="button" value="Закрыть">

    </div>
</div>
<br><div class="failure" id="error" style="display: none"></div>
<div id="my_modal_nw" class="modal_nw">
    <div class="modal_content" id="dv_mss">
    </div>
</div>

<script>
    date = new Date();
    let err = document.getElementById("error");
    let modal = document.getElementById("my_modal");
    let modal_nw = document.getElementById("my_modal_nw");
    let inpMonth = document.getElementById("month");
    let inpQuarter = document.getElementById("quarter");
    let inpYear = document.getElementById("year");
    let err_dub = document.getElementById("err_dub");
    let save_window = document.getElementById("save_window");
    let close_window = document.getElementById("close_window");
    let save_lab = document.getElementById("save_lab");
    let reportId = '';
    let sleep = ms => (new Promise(resolve => setTimeout(resolve, ms)));

    function OptNul(inp) {
        let optMon = document.createElement('option');
        optMon.value     =  '';
        optMon.innerText = '--';
        inp.appendChild(optMon);

    }

    function Option(min, max, inp) {
        for (let i = min; i <= max; i++) {
            let option = document.createElement('option');
            option.value     = i;
            option.innerText = i;
            inp.appendChild(option);
        }

    }
    OptNul(inpMonth);
    OptNul(inpQuarter);

    Option(1, 12, inpMonth);
    Option(1, 4, inpQuarter);
    Option(2015, date.getFullYear(), inpYear);

    function AjaxData() {
        reportId = '';
        inpMonth.value = '';
        inpQuarter.value = '';
        inpYear.value = '';

            let uin = document.getElementById('uin').value;

        let postForm = {
            'uin'     : uin,

        };
         $.ajax({
            type:'POST',
            url:'index.php?view=pdf-delivery-period&action=getData',
            dataType:'json',
            data: postForm
        })
            .done(function(ret) {
                if (ret.length == 0) {
                    err.innerHTML = '';
                    err.append(
                        `UIN не найден`
                    );
                    err.style.display = "block";
                    return false;
                }

                $.each(ret,function(index,value) {

                    reportId = value['IDReport'];
                    inpMonth.value = value['Month'];
                    inpQuarter.value = value['Quarter'];
                    inpYear.value = value['Year'];

                });
                err.style.display = "none";

                openWind();
          })

            .fail(function() {
                err.append(
                    `Ошибка подключения к базе`
                );
                err.style.display = "block";
                return false;

            });

    }


    function SendAjaxData(month, quarter, year) {

        let uin = document.getElementById('uin').value;

        let postForm = {
            'month'       : month,
            'quarter'     : quarter,
            'year'        : year,
            'reportId'    : reportId,

        };
        $.ajax({
            type:'POST',
            url:'index.php?view=pdf-delivery-period&action=setData',
            dataType:'json',
            data: postForm
        })
            .done(function(ret) {
                save_window.style.display = "none";


                close_window.style.display = "none";
                save_lab.style.display = "block";
                save_lab.style.position = "relative";
                save_lab.style.left = "50%";

                save_lab.style.transform = "translate(-50%, 0)";
                save_lab.style.top = "-20px";

                sleep(2500).then(()=>{
                   save_lab.style.display = "none";
                    save_window.style.display = "block";
                    close_window.style.display = "block";
                    save_window.style.position = "relative";
                    save_window.style.left = "50%";

                    save_window.style.transform = "translate(-50%, 0)";
                    save_window.style.top = "10px";
                    close_window.style.position = "relative";
                    close_window.style.left = "50%";
                    close_window.style.transform = "translate(-50%, 0)";
                    close_window.style.bottom = "15px";
                    modal.style.display = "none";

                });
          })

            .fail(function() {

                $("#dv_mss").append(
                    `<strong class="switch" id="message" style="top: 0.6em; color: darkred;  font-size: 50px; position: relative; left: 55px">Не удалось изменить период</strong>`
                );
                modal_nw.style.display = "block";
                sleep(2000).then(()=>{
                    modal_nw.style.display = "none";
                    modal.style.display = "none";
                    $("#message").remove();
                });

            });
    }

    document.getElementById("sv_butt").onclick = addWind;
    function openWind() {
        sleep(1000).then(() => {
            modal.style.display = "block";
            document.getElementById("addLab").style.display = "block";
            document.getElementById("save_window").onclick = () => {
                if (inpMonth.value != "" && inpQuarter.value != "") {
                    err_dub.style.display = "block";
                    inpMonth.style.border="0.2px solid red";
                    inpQuarter.style.border=" 0.2px solid red";
                    sleep(2500).then(() => {
                        err_dub.style.display = "none";
                        inpMonth.style.border="0.2px solid black";
                        inpQuarter.style.border="0.2px solid black";
                        return false;
                    });

                } else if (inpYear.value == "") {
                    $("#dv_mss").append(
                        `<strong class="switch" id="message" style="top: 0.6em; color: darkred;  font-size: 50px; position: relative; left: 55px">Обязательно укажете Год</strong>`
                    );
                    modal_nw.style.display = "block";
                    sleep(2500).then(() => {
                        modal_nw.style.display = "none";
                        modal.style.display = "none";
                        $("#message").remove();
                        location.reload();
                    });
                } else {

                    SendAjaxData(inpMonth.value, inpQuarter.value, inpYear.value);

                }

            };
            document.getElementById("close_window").onclick = () => modal.style.display = "none";
        });
    }

    function addWind() {
        AjaxData();
        return false;
    }


</script>
