body
    {
        padding-bottom: 190px;
    }

body .layout .content .interface
    {
        text-align: center;
    }

body .layout .content .form .field label.fixed
    {
        width: 60px;
    }

body .layout .content .form .field pre
    {
        background: #eee;

        border: 1px solid #133195;

        display: block;

        max-height: 600px;

        padding: 15px;

        overflow: scroll;
    }

body .layout .content .form .field a
    {
        color: #133195;

        text-decoration: none;
    }

body .layout .content .form .field a:hover
    {
        color: #000;

        text-decoration: underline;
    }

body .layout .content .form.successful .caption
    {
        background: #5A0;
    }

body .layout .content .form.successful .field
    {
        background: #d6ffd4;
    }

body .layout .content .form.successful .field:hover
    {
        background: #bfe3bd;
    }

body .layout .content .form.successful .field pre
    {
        border: 1px solid #5A0;
    }

body .layout .content .form.failed .caption
    {
        background: #A00;
    }

body .layout .content .form.failed .field
    {
        background: #ffcbcc;
    }

body .layout .content .form.failed .field:hover
    {
        background: #ffb5b6;
    }

body .layout .content .form.failed .field pre
    {
        border: 1px solid #A00;
    }

body .layout .content .form.successful .field .text,
body .layout .content .form.failed .field .text
    {
        color: #000;
    }

table.data
    {
        border-collapse: collapse;

        display: table;

        font-size: 14px;

        margin: 5px 0px;

        width: 100%;
    }

table.data caption
    {
        font-size: 18px;
        font-weight: bold;

        margin: 10px;
        padding: 10px;
    }

table.data th,
table.data td
    {
        background: #fff;

        border: 1px solid #ccc;

        padding: 5px;

        text-align: left;
    }

table.data th
    {
        background: #ddd;

        font-weight: bold;
    }

table.data tr:hover th
    {
        background: #eee !important;
    }

table.data tr:hover td
    {
        background: #95beff !important;
    }

.center
    {
        text-align: center !important;
    }

.no-wrap
    {
        white-space: nowrap;
    }

table.data.requisites td
    {
        width: 80%;
    }

table.data.consulting th,
table.data.requisites th
    {
        white-space: nowrap;
    }

table.data.consulting td
    {
        width: 50%;
    }

div.pki-certificate
    {
        background: #fff;

        border: 1px solid #ccc;

        margin: 0px 0px 1px 0px;

        position: relative;

        text-align: left;
    }

div.pki-certificate.active
    {
        border: 1px solid #58c17b;

        background: #d6ffd4;
    }

div.pki-certificate.active:hover
    {
        background: #a1e399;
    }

div.pki-certificate.expired
    {
        border: 1px solid #df6e70;

        background: #ffcbcc;
    }

div.pki-certificate.expired:hover
    {
        background: #ffb5b6;
    }

div.pki-certificate > div.header
    {
        display: table;

        padding: 5px;

        width: 100%;

        z-index: 15;
    }

div.pki-certificate > div.header > span
    {
        display: table-cell;

        vertical-align: middle;
    }

div.pki-certificate > div.header > span.w75
    {
        min-width: 75px;
        max-width: 75px;

        width: 75px;
    }

div.pki-certificate > div.header > span.w150
    {
        min-width: 150px;
        max-width: 150px;

        width: 150px;
    }

div.pki-certificate > div.header > span.w200
    {
        min-width: 200px;
        max-width: 200px;

        width: 200px;
    }

div.pki-certificate > div.header > span.w300
    {
        min-width: 300px;
        max-width: 300px;

        width: 300px;
    }

div.pki-certificate > div.header > span.w-fit
    {
        width: auto;
    }

div.pki-certificate > div.details
    {
        border: inherit;
        border-top: none;

        background: inherit;

        display: none;

        top: 100%;
        right: 25px;

        left: 455px;

        position: absolute;

        z-index: 50;
    }

div.pki-certificate:hover > div.details
    {
        display: block;

        padding: 5px;
    }

div.pki-certificate:hover > div.details > span
    {
        display: block;

        padding: 5px;
    }