<script type="text/javascript" src="resources/js/utils.js"></script>
<script type="text/javascript" src="resources/js/jquery-2.1.4.min.js"></script>

<style>
    table.sfData
    {
        border-collapse: collapse;
        display: table;
        font-size: 14px;
        margin-bottom: 25px;
        width: 100%;
    }
    table.sfData th, table.sfData td {
        background: #fff;
        padding: 5px;
        text-align: left;
    }

    table.sfData tr.active:hover td {
        background: #bfe3bd !important;
    }

    table.sfData tr.active td {
        background: #d6ffd4;
    }

    table.sfData tr.active td {
        background: #d6ffd4;
    }

    table.sfData td.tdName {
       width: 90%;
    }

    .Stat, .Sti, .SfRep li {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {display:none;}

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    #aspect-content {
        font-family: "Poppins", sans-serif;
    }

    #aspect-content * {
        box-sizing: border-box;
    }

    .aspect-tab {
        position: relative;
        width: 100%;
        margin: 0 auto 10px;
        border-radius: 1px;
        background-color: #55AAFF;
        box-shadow: 0 0 0 1px #7abcff;
        opacity: 1;
        transition: box-shadow .2s, opacity .4s;
        text-align: left;
    }

    .aspect-tab:hover {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
    }

    .aspect-input {
        display: none;
    }

    .aspect-input:checked ~ .aspect-content + .aspect-tab-content {
        max-height: 10000px;
    }

    .aspect-input:checked ~ .aspect-content:after {
        transform: rotate(0);
    }

    .aspect-label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-height: 80px;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
        cursor: pointer;
    }

    .aspect-content {
        position: relative;
        display: block;
        height: 80px;
        margin: 0;
        padding: 0 87px 0 30px;
        font-size: 0;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }

    .aspect-content:before, .aspect-content:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
    }
    .aspect-content:before {
        height: 100%;
    }
    .aspect-content:after {
        position: absolute;
        width: 24px;
        height: 100%;
        right: 30px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }

    .aspect-name {
        display: inline-block;
        width: 75%;
        font-weight: 500;
        white-space: normal;
        text-align: left;
        vertical-align: middle;
        text-transform: uppercase;
        color: #fff;
    }

    .aspect-stat {
        width: 40%;
        text-align: right;
    }

    .all-opinions,
    .aspect-name {
        font-size: 16px;
        line-height: 22px;

    }

    .all-opinions {
        color: #7abcff;
        text-align: left;
    }

    .aspect-content + .aspect-tab-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
    }

    .aspect-content > div,
    .aspect-stat > div {
        display: inline-block;
    }

    .aspect-content > div {
        vertical-align: middle;
    }

    .aspect-info {
        width: 60%;
        white-space: nowrap;
        font-size: 0;
    }
    .aspect-info:before {
        content: '';
        display: inline-block;
        height: 44px;
        vertical-align: middle;
    }
    .aspect-tab-content {
        background-color: #f9f9f9;
        font-size: 0;
        text-align: justify;
    }

    .sentiment-wrapper {
        padding: 4px 3px 3px;
    }

    .sentiment-wrapper > div {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        vertical-align: top;
        cursor: default;
    }

    .sentiment-wrapper > div > div {
        width: 100%;
        padding: 6px 4px 2px;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        text-align: left;
    }

    .opinion-header {
        position: relative;
        width: 100%;
        margin: 0 0 4px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: #242a32;
        text-transform: capitalize;
    }

    .opinion-header > span:nth-child(2) {
        position: absolute;
        right: 0;
    }

    .opinion-header + div > span {
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }

</style>

<form class="form" id="ajax_form" method="POST" action="" >
    <div id="aspect-content">
        <div class="aspect-tab ">
            <input id="item-11" type="checkbox" class="aspect-input" name="aspect">
            <label for="item-11" class="aspect-label" id="item-11-label"></label>
            <div class="aspect-content">
                <div class="aspect-info">
                    <span class="aspect-name">База Sf</span>
                </div>
            </div>
            <div class="aspect-tab-content">
               <div class="positive-count opinion-header">
                    <div class="blockSfRep" id="blockSfRep" >
                        <ul style="padding-inline-start: 0px" class="SfRep" id="SfRep"></ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="aspect-tab ">
        <input id="item-14" type="checkbox" class="aspect-input" name="aspect">
        <label for="item-14" class="aspect-label" id="item-14-label"></label>
        <div class="aspect-content">
            <div class="aspect-info">
                <span class="aspect-name">База Stat</span>
            </div>
        </div>
        <div class="aspect-tab-content">
            <div class="sentiment-wrapper">
                <div class="positive-count opinion-header">
                    <div class="blockStat" id="blockStat" >
                        <ul class="Stat" id="Stat">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aspect-tab ">
        <input id="item-2" type="checkbox" class="aspect-input" name="aspect">
        <label for="item-2" class="aspect-label"  id="item-2-label"></label>
        <div class="aspect-content">
            <div class="aspect-info">
                <span class="aspect-name">База Sti</span>
            </div>
        </div>
        <div class="aspect-tab-content">
            <div class="sentiment-wrapper">
                <div class="positive-count opinion-header">
                    <div class="blockSti" id="blockSti" >
                        <ul class="Sti" id="Sti">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</form>

<script type="text/javascript">
    function DonePer(css_inpt_Sf,Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+css_inpt_Sf).css('border-color', '#008d00');
        $('#'+Labl_Opred_Sf).css('display', 'none');
        $('#'+Labl_Done_Sf).css('display', 'block');
        $('#'+Labl_Error_Sf).css('display', 'none');
    }
    function ErrorPer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+css_inpt_Sf).css('border-color', 'darkred');
        $('#'+Labl_Opred_Sf).css('display', 'none');
        $('#'+Labl_Done_Sf).css('display', 'none');
        $('#'+Labl_Error_Sf).css('display', 'block');
    }

    function clearCss(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+css_inpt_Sf).css('border-color', 'white');
        $('#'+Labl_Opred_Sf).css('display', 'block');
        $('#'+Labl_Done_Sf).css('display', 'none');
        $('#'+Labl_Error_Sf).css('display', 'none');
    }

    function clearStat(Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+Labl_Opred_Sf).css('display', 'block');
        $('#'+Labl_Done_Sf).css('display', 'none');
        $('#'+Labl_Error_Sf).css('display', 'none');
    }

    function doneStat(Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+Labl_Opred_Sf).css('display', 'none');
        $('#'+Labl_Done_Sf).css('display', 'block');
        $('#'+Labl_Error_Sf).css('display', 'none');
    }

    function errorStat(Labl_Opred_Sf, Labl_Done_Sf,  Labl_Error_Sf) {
        $('#'+Labl_Opred_Sf).css('display', 'none');
        $('#'+Labl_Done_Sf).css('display', 'none');
        $('#'+Labl_Error_Sf).css('display', 'block');
    }

    let d = new Date();
    let YearP = d.getFullYear();

        function limitDay(element)
    {

        if (element.value >=31) {
            element.value = 31;
        } else if (element.value <=0) {
            element.value = 1;
        }

    }

        function limitMonth(element)
        {

            if (element.value >=12) {
                element.value = 12;
            } else if (element.value <=0) {
                element.value = 1;
            }

        }

    function limitYear(element)
    {

        if (element.value >=(YearP+5)) {
            element.value = (YearP+5);
        } else if (element.value <=(YearP-5)) {
            element.value = (YearP-5);
        }

    }


    /*BEGIN СХЕМА Sf_reporting*/

function updateStatus(sys_name, value) {
    let Labl_Stat = 'Lab_Stat_'+sys_name;
    let Labl_Done_Stat = 'Lab_Done_Stat_'+sys_name;
    let Labl_Error_Stat = 'Lab_Error_Stat_'+sys_name;

    let postForm = {
        'sys_name'     : sys_name,
        'valid'        : value
    };
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=updateFormsSF',
        dataType:'json',
        data: postForm
    })
        .done(function(ret) {
            doneStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
            setTimeout(()=>clearStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat), 3000);
        })

        .fail(function(ret) {
            errorStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
        });

}


    function updateDateSf(sys_name, value, definition) {
    let css_inpt_Sf;
    let Labl_Done_Sf;
    let Labl_Error_Sf;
    let Labl_Opred_Sf;
    if (definition == 'year') {
        css_inpt_Sf = 'Year_'+sys_name;
        Labl_Done_Sf = 'Lab_Done_Year_'+sys_name;
        Labl_Error_Sf = 'Lab_Error_Year_'+sys_name;
        Labl_Opred_Sf = 'Lab_Year_'+sys_name;
    } else if (definition == 'month') {
        css_inpt_Sf = 'Month_'+sys_name;
        Labl_Done_Sf = 'Lab_Done_Month_'+sys_name;
        Labl_Error_Sf = 'Lab_Error_Month_'+sys_name;
        Labl_Opred_Sf = 'Lab_Month_'+sys_name;
    } else {
        css_inpt_Sf = 'Day_'+sys_name;
        Labl_Done_Sf = 'Lab_Done_Day_'+sys_name;
        Labl_Error_Sf = 'Lab_Error_Day_'+sys_name;
        Labl_Opred_Sf = 'Lab_Day_'+sys_name;
    }
        let postForm = {
            'sys_name'     : sys_name,
            'value'        : value,
            'definition'   : definition,

        };
        $.ajax({
            type:'POST',
            url:'index.php?view=edit-period-reporting&action=updateFormsSFDate',
            dataType:'json',
            data: postForm
        })
            .done(function(ret) {
               DonePer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
               setTimeout(()=>clearCss(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf), 3000);
            })

            .fail(function(ret) {
                ErrorPer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
            });


    }

    $("#item-11-label").one("click", function() {
        $('#item-11').trigger('click');
            sendAjaxFormSf();
            return false;
        });

    function sendAjaxFormSf() {
        $.ajax({
            type:'POST',
            url:'index.php?view=edit-period-reporting&action=getFormsSFDate',
            dataType:'json',
        })
            .done(function(ret) {

                $.each(ret,function(index,value){
                    $("#SfRep").append(
                        `<li>
                            <table class="sfData">
                                <tbody>
                                    <tr class="active">
                                        <td class="tdName">
                                            <span class="tab" style="margin-left: 2%">${value['name']}</span>
                                        </td>


                                        <td style="text-align: center">
                                             <label class="switch">
                                                <input type="checkbox" class="chkSfReport" id="${value['sys_name']}" onclick="updateStatus('${value['sys_name']}', this.checked);">
                                                <span class="slider round"></span>
                                            </label>
                                             <label id="Lab_Stat_${value['sys_name']}" style="font-size: 11px">Статус</label>
                                             <label id="Lab_Done_Stat_${value['sys_name']}" style="display: none; color: #008d00; font-size: 11px;"">Сохранено</label>
                                             <label id="Lab_Error_Stat_${value['sys_name']}" style="display: none; color: darkred; font-size: 11px;">Ошибка</label>
                                        </td>
                                        <td style="text-align: center">
                                            <input type="number" min="${YearP-5}" max="${YearP+5}" id="Year_${value['sys_name']}" value="${value['year']}"  onchange="limitYear(this); updateDateSf('${value['sys_name']}', $('#Year_${value['sys_name']}').val(), 'year');">
                                                <label id="Lab_Done_Year_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Lab_Error_Year_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Lab_Year_${value['sys_name']}">Год</label>
                                           </input>
                                        </td>
                                       <td style="text-align: center">
                                           <input type="number" min="1" max="12" id="Month_${value['sys_name']}" value="${value['month']}" onchange="limitMonth(this); updateDateSf('${value['sys_name']}', $('#Month_${value['sys_name']}').val(), 'month');">
                                                <label id="Lab_Done_Month_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Lab_Error_Month_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Lab_Month_${value['sys_name']}">Месяц</label>
                                            </input>
                                        </td>
                                       <td style="text-align: center">
                                            <input type="number" min="1" max="31" id="Day_${value['sys_name']}" value="${value['day']}" onchange="limitDay(this); updateDateSf('${value['sys_name']}', $('#Day_${value['sys_name']}').val(), 'day');">
                                                <label id="Lab_Done_Day_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Lab_Error_Day_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Lab_Day_${value['sys_name']}">День</label>
                                            </input>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </li>`
                    );

                    if (value['valid']) {
                        $('#'+value['sys_name']).prop('checked',true);
                    }

                });

            })

            .fail(function() {
                $("#SfRep").html(
                    `<li>
                        <span class="tab">Ошибка, пожалуйста повторите позже</span>
                    </li>`
                )
            });
    };
/*END СХЕМА Sf_reporting*/

/*BEGIN СХЕМА Stat_reporting*/

function updateStatusStat(sys_name, status) {
    let Labl_Stat = 'Lab_Stat_Stat_'+sys_name;
    let Labl_Done_Stat = 'Lab_Done_Stat_Stat_'+sys_name;
    let Labl_Error_Stat = 'Lab_Error_Stat_Stat_'+sys_name;

    let postForm = {
        'sys_name'     : sys_name,
        'status'        : status
    };
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=updateFormsStat',
        dataType:'json',
        data: postForm
    })
        .done(function(ret) {
            doneStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
            setTimeout(()=>clearStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat), 3000);

        })

        .fail(function(ret) {
            errorStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
        });

}

function updateDateStat(sys_name, value, definition) {

    let uDefinition = (definition === 'month') ? 'Month' : 'Day';
    let css_inpt_Sf = `${uDefinition}_${sys_name}`;
    let Labl_Done_Sf = `Stat_Lab_Done_${css_inpt_Sf}`;
    let Labl_Error_Sf = `Stat_Lab_Error_${css_inpt_Sf}`;
    let Labl_Opred_Sf = `Stat_Lab_${css_inpt_Sf}`;

    let postForm = {
        'sys_name'     : sys_name,
        'value'        : value,
        'definition'   : definition,

    };
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=updateFormsStatDate',
        dataType:'json',
        data: postForm
    })
        .done(function(ret) {
            DonePer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
            setTimeout(()=>clearCss(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf), 3000);
        })

        .fail(function(ret) {
            ErrorPer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
        });
}

$("#item-14-label").one("click", function() {
    $('#item-14').trigger('click');
    sendAjaxFormStat();
    return false;
});

function sendAjaxFormStat() {
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=getFormsStatDate',
        dataType:'json',
    })
        .done(function(ret) {
            $.each(ret,function(index,value){

                $("#Stat").append(
                    `<li>
                        <table class="sfData">
                            <tbody>
                                <tr class="active">
                                    <td class="tdName">
                                         <span class="tab" style="margin-left: 2%">${value['form_name']}</span>
                                    </td>

                                        <td style="text-align: center">
                                            <label class="switch" >
                                                <input type="checkbox" class="chkStatReport" id="${value['sys_name']}" onclick="updateStatusStat('${value['sys_name']}', this.checked);">
                                                <span class="slider round"></span>
                                            </label>
                                             <label id="Lab_Stat_Stat_${value['sys_name']}" style="font-size: 11px">Статус</label>
                                             <label id="Lab_Done_Stat_Stat_${value['sys_name']}" style="display: none; color: #008d00; font-size: 11px;"">Сохранено</label>
                                             <label id="Lab_Error_Stat_Stat_${value['sys_name']}" style="display: none; color: darkred; font-size: 11px;">Ошибка</label>
                                       </td>
                                       <td style="text-align: center">
                                            <input type="number"   min="0" max="12" id="Month_${value['sys_name']}" value="${value['month']}" onchange="limitMonth(this); updateDateStat('${value['sys_name']}', $('#Month_${value['sys_name']}').val(), 'month');">
                                                <label id="Stat_Lab_Done_Month_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Stat_Lab_Error_Month_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Stat_Lab_Month_${value['sys_name']}">Месяц</label>
                                            </input>
                                        </td>
                                        <td style="text-align: center">
                                           <input type="number"   min="0" max="31" id="Day_${value['sys_name']}" value="${value['day']}" onchange="limitDay(this); updateDateStat('${value['sys_name']}', $('#Day_${value['sys_name']}').val(), 'day');">
                                                 <label id="Stat_Lab_Done_Day_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Stat_Lab_Error_Day_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Stat_Lab_Day_${value['sys_name']}">День</label>
                                            </input>
                                        </td>
                            </tbody>
                        </table>
                    </li>`
                );

                if (value['status']) {
                    $('#'+value['sys_name']).prop('checked',true);
                }

            });
        })

        .fail(function() {

            $("#Stat").html(
                `<li>
                        <span class="tab">Ошибка, пожалуйста повторите позже</span>
                    </li>`
            )

        });
};
/*END СХЕМА Stat_reporting*/


/*BEGIN СХЕМА Sti_reporting*/

function updateStatusSti(sys_name, status) {
    let Labl_Stat = 'Lab_Stat_'+sys_name;
    let Labl_Done_Stat = 'Lab_Done_Stat_'+sys_name;
    let Labl_Error_Stat = 'Lab_Error_Stat_'+sys_name;

    let postForm = {
        'sys_name'     : sys_name,
        'status'        : status
    };
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=updateFormsSti',
        dataType:'json',
        data: postForm
    })
        .done(function(ret) {
            doneStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
            setTimeout(()=>clearStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat), 3000);

        })

        .fail(function(ret) {
            errorStat(Labl_Stat, Labl_Done_Stat, Labl_Error_Stat);
        });
}

function updateDateSti(sys_name, value, definition) {
    let uDefinition = (definition === 'month') ? 'Month' : 'Day';
    let css_inpt_Sf = `${uDefinition}_${sys_name}`;
    let Labl_Done_Sf = `Lab_Done_${css_inpt_Sf}`;
    let Labl_Error_Sf = `Lab_Error_${css_inpt_Sf}`;
    let Labl_Opred_Sf = `Lab_${css_inpt_Sf}`;
    let postForm = {
        'sys_name'     : sys_name,
        'value'        : value,
        'definition'   : definition,

    };
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=updateFormsStiDate',
        dataType:'json',
        data: postForm
    })
        .done(function(ret) {
            DonePer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
            setTimeout(()=>clearCss(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf), 3000);

        })

        .fail(function(ret) {
            ErrorPer(css_inpt_Sf, Labl_Opred_Sf, Labl_Done_Sf, Labl_Error_Sf);
        });
}

$("#item-2-label").one("click", function() {
    $('#item-2').trigger('click');
    sendAjaxFormSti();
    return false;
});

function sendAjaxFormSti() {
    $.ajax({
        type:'POST',
        url:'index.php?view=edit-period-reporting&action=getFormsStiDate',
        dataType:'json',
    })
        .done(function(ret) {
            $.each(ret,function(index,value){

                $("#Sti").append(
                    `<li>
                        <table class="sfData">
                            <tbody>
                                <tr class="active" >
                                    <td class="tdName">
                                         <span class="tab" style="margin-left: 2%">${value['form_name']}</span>
                                    </td>
                                        <td style="text-align: center">
                                            <label class="switch" >
                                                <input type="checkbox" class="chkStiReport" id="${value['sys_name']}" onclick="updateStatusSti('${value['sys_name']}', this.checked);">
                                                <span class="slider round"></span>
                                            </label>
                                             <label id="Lab_Stat_${value['sys_name']}" style="font-size: 11px">Статус</label>
                                             <label id="Lab_Done_Stat_${value['sys_name']}" style="display: none; color: #008d00; font-size: 11px;"">Сохранено</label>
                                             <label id="Lab_Error_Stat_${value['sys_name']}" style="display: none; color: darkred; font-size: 11px;">Ошибка</label>
                                        </td>                                       <td style="text-align: center">
                                           <input type="number" min="0" max="12" list="MonthNumbers" id="Month_${value['sys_name']}" value="${value['month']}" onchange="limitMonth(this); updateDateSti('${value['sys_name']}', $('#Month_${value['sys_name']}').val(), 'month');">
                                                <label id="Lab_Done_Month_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Lab_Error_Month_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Lab_Month_${value['sys_name']}">Месяц</label>
                                            </input>
                                        </td>
                                        <td style="text-align: center">
                                          <input type="number"   min="0" max="31" id="Day_${value['sys_name']}" value="${value['day']}" onchange="limitDay(this); updateDateSti('${value['sys_name']}', $('#Day_${value['sys_name']}').val(), 'day');">
                                                <label id="Lab_Done_Day_${value['sys_name']}"style="display: none; color: #008d00">Сохранено</label>
                                                <label id="Lab_Error_Day_${value['sys_name']}" style="display: none; color: darkred">Ошибка</label>
                                                <label id="Lab_Day_${value['sys_name']}">День</label>
                                           </input>
                                        </td>
                            </tbody>
                        </table>
                    </li>`
                );

                if (value['status']) {
                    $('#'+value['sys_name']).prop('checked',true);
                }

            });

        })

        .fail(function() {

            $("#Sti").html(
                `<li>
                        <span class="tab">Ошибка, пожалуйста повторите позже</span>
                    </li>`
            )

        });
};
/*END СХЕМА Sti_reporting*/

</script>
