<?php if($this->isPermitted($this::AK_USER_ROLES)): ?>
    <a class="button single" href="index.php?view=<?php echo $this::AK_USER_ROLES; ?>">Вернуться к списку ролей учетных записей</a>
<?php endif; ?>

<?php if($errors): ?>
    <?php foreach($errors as $error): ?>
    <div class="failure"><?php echo $error; ?></div>
    <?php endforeach; ?>
    <?php return; ?>
<?php endif; ?>

<?php if(isset($result, $status)): ?>
    <div class="<?php echo $result ? 'success' : 'failure'; ?>">
        <?php echo $status; ?>
    </div>
<?php endif; ?>

<form class="form" action="index.php?view=<?php echo $this::AK_REGISTER_USER_ROLE; ?>&action=register" method="POST">

    <div class="caption">Роль учетных записей</div>

    <div class="field">
        <label for="name" class="fixed">Наименование <span class="required">*</span>:</label>
        <input type="text" name="name" id="name" maxlength="80" style="width: 400px" value="<?php echo isset($_POST['name']) ? htmlspecialchars($_POST['name']) : ''; ?>" placeholder="введите наименование" required>
        <span class="hint">не более 80 знаков</span>
        <?php if(isset($validations)): ?>
            <?php foreach($validations['name'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <?php if(isset($permissions)): ?>
        <?php $selected = isset($_POST['permissions']) ? $_POST['permissions'] : []; ?>
        <?php foreach ($permissions as $moduleGroup => &$permissions): ?>
            <div class="caption"><?php
                echo htmlspecialchars($moduleGroup);
            ?></div>
            <?php foreach($permissions as &$permission): ?>
                <div class="field">
                    <?php if(in_array($permission['id'], $selected)): ?>
                    <input type="checkbox" name="permissions[]" id="pms-<?php echo $permission['id']; ?>" value="<?php echo $permission['id']; ?>" checked>
                    <?php else: ?>
                    <input type="checkbox" name="permissions[]" id="pms-<?php echo $permission['id']; ?>" value="<?php echo $permission['id']; ?>">
                    <?php endif; ?>
                    <label for="pms-<?php echo $permission['id']; ?>"><?php
                        echo
                            '<b>', htmlspecialchars($permission['module-name']), '</b>',
                            ' - ',
                            htmlspecialchars($permission['name']),
                            $permission['module-is-entry-point'] ? ' (точка входа)' : '';
                    ?></label>
                    <br>
                </div>
            <?php endforeach; ?>
        <?php endforeach; ?>
    <?php endif; ?>

    <div class="field buttons">
        <input type="submit" class="button" value="Зарегистрировать" />
    </div>

</form>