<?php if($this->isPermitted($this::AK_USERS)): ?>
    <a class="button single" href="index.php?view=<?php echo $this::AK_USERS; ?>">Вернуться к списку учетных записей</a>
<?php endif; ?>

<?php if($errors): ?>
    <?php foreach($errors as $error): ?>
    <div class="failure"><?php echo $error; ?></div>
    <?php endforeach; ?>
    <?php return; ?>
<?php endif; ?>

<?php if(isset($result, $status)): ?>
    <div class="<?php echo $result ? 'success' : 'failure'; ?>">
        <?php echo $status; ?>
    </div>
<?php endif; ?>

<?php $url = 'index.php?view=' . $this::AK_MODIFY_USER . '&id=' . $_GET['id']; ?>

<form class="form" action="<?php echo $url, '&action=setActive'; ?>" method="POST">

    <div class="caption">Блокировка и Активация</div>

    <div class="field padded">
        <span class="text">Данная учетная запись</span>
        <?php if($user['is-active']): ?>
        <span class="stateful actual"><b>активна</b></span>
        <input type="submit" class="button" value="Заблокировать" />
        <?php else: ?>
        <span class="stateful expired"><b>заблокирована</b></span>
        <input type="submit" class="button" value="Активировать" />
        <?php endif; ?>
    </div>

</form>

<form class="form" action="<?php echo $url, '&action=setPasswordExpired'; ?>" method="POST">

    <div class="caption">Cостояние пароля</div>

    <div class="field padded">
        <span class="text">Пароль учетной записи</span>
        <?php if($user['is-password-expired']): ?>
        <span class="stateful expired"><b>устарел</b></span>
        <input type="submit" class="button" value="Актуализировать" />
        <?php else: ?>
        <span class="stateful actual"><b>актуален</b></span>
        <input type="submit" class="button" value="Деактуализировать" />
        <?php endif; ?>
    </div>

</form>

<form class="form" action="<?php echo $url, '&action=remove'; ?>" method="POST">

    <div class="caption">Удаление учетной записи</div>

    <div class="field" style="text-align: center;">
        <span class="text">
            Хотите
            <input type="submit" class="button" value="Удалить" onclick="return window.confirm('Вы уверены в своих действиях?')" />
            учетную запись?
        </span>
    </div>

</form>

<form class="form" action="<?php echo $url, '&action=changePassword'; ?>" method="POST">

    <div class="caption">Замена пароля</div>

    <div class="field">
        <label for="password" class="fixed">Пароль <span class="required">*</span>:</label>
        <input type="password" name="password" id="password" placeholder="введите пароль" required>
        <?php if(isset($validations, $validations['password'])): ?>
            <?php foreach($validations['password'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="confirmation" class="fixed">Подтверждение <span class="required">*</span>:</label>
        <input type="password" name="confirmation" id="confirmation" placeholder="введите пароль еще раз" required>
        <?php if(isset($validations, $validations['confirmation'])): ?>
            <?php foreach($validations['confirmation'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field buttons">
        <input type="submit" class="button" value="Заменить" />
    </div>

</form>

<form class="form" action="<?php echo $url, '&action=changeModule'; ?>" method="POST">
    <div class="caption">Cтартовый модуль</div>

    <div class="field">
        <label for="module-id" class="fixed">Модуль:</label>
        <select name="module-id" id="module-id">
            <option value="">(по умолчанию)</option>
            <?php foreach($moduleGroups as $group => &$modules): ?>
            <optgroup label="<?php echo htmlspecialchars($group); ?>">
                <?php foreach($modules as &$module): ?>
                <option value="<?php echo $module['id']; ?>"<?php echo $module['id'] == $user['module-id'] ? ' selected' : ''; ?>><?php
                    echo htmlspecialchars($module['name']);
                ?></div>
                <?php endforeach; ?>
            </optgroup>
            <?php endforeach; ?>
        </select>
        <span class="hint">Cтартовый модуль при входе в систему</span>
    </div>

    <div class="field buttons">
        <input type="submit" class="button" value="Установить" />
    </div>
</form>

<form class="form" action="<?php echo $url, '&action=modify'; ?>" method="POST">

    <div class="caption">Учетная запись</div>

    <div class="field">
        <label for="login" class="fixed">Логин <span class="required">*</span>:</label>
        <input type="text" name="login" id="login" maxlength="30" value="<?php echo htmlspecialchars($user['login']); ?>" placeholder="введите логин" required>
        <span class="hint">не более 30 знаков - символы A-Z, цифры, знаки "_" и "-"</span>
        <?php if(isset($validations, $validations['login'])): ?>
            <?php foreach($validations['login'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="user-role-id" class="fixed">Роль <span class="required">*</span>:</label>
        <select name="user-role-id" id="user-role-id" required>
            <?php foreach($roles as $role): ?>
            <option value="<?php echo $role['id']; ?>"<?php echo $role['id'] == $user['user-role-id'] ? ' selected' : ''; ?>><?php
                echo htmlspecialchars($role['name']);
            ?></option>
            <?php endforeach; ?>
        </select>
        <span class="hint">Роль учетной записи в системе</span>
        <?php if(isset($validations, $validations['user-role-id'])): ?>
            <?php foreach($validations['user-role-id'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="surname" class="fixed">Фамилия <span class="required">*</span>:</label>
        <input type="text" name="surname" id="surname" maxlength="25" value="<?php echo htmlspecialchars($user['surname']); ?>" placeholder="введите фамилию" required>
        <span class="hint">не более 25 знаков</span>
        <?php if(isset($validations, $validations['surname'])): ?>
            <?php foreach($validations['surname'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="name" class="fixed">Имя <span class="required">*</span>:</label>
        <input type="text" name="name" id="name" maxlength="20" value="<?php echo htmlspecialchars($user['name']); ?>" placeholder="введите имя" required>
        <span class="hint">не более 20 знаков</span>
        <?php if(isset($validations, $validations['name'])): ?>
            <?php foreach($validations['name'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="name" class="fixed">Отчество:</label>
        <input type="text" name="middle-name" id="middle-name" maxlength="25" value="<?php echo htmlspecialchars($user['middle-name']); ?>" placeholder="введите отчество">
        <span class="hint">не более 25 знаков</span>
        <?php if(isset($validations, $validations['middle-name'])): ?>
            <?php foreach($validations['middle-name'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field">
        <label for="phone" class="fixed">Телефон(ы):</label>
        <input type="text" name="phone" id="phone" maxlength="255" value="<?php echo htmlspecialchars($user['phone']); ?>" placeholder="введите телефон(ы)">
        <span class="hint">не более 255 знаков - цифр и разделителей</span>
        <?php if(isset($validations, $validations['phone'])): ?>
            <?php foreach($validations['phone'] as $error): ?>
            <div class="validation-error"><?php echo $error; ?></div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>

    <div class="field buttons">
        <input type="submit" class="button" value="Сохранить" />
    </div>

</form>