<form class="form" action="index.php" method="GET" name = "certificates">

    <input type="hidden" name="view" value="<?php echo $this::AK_EDS_EXPIRATIONS; ?>" />
    <input type="hidden" name="all" value="0" />
    <div class="caption">Параметры просмотра</div>

    <div class="field">
        <label for="mode" class="fixed">Режим:</label>
        <select name="mode" id="mode">
            <?php foreach($modes as $mode): ?>
            <option value="<?php echo $mode['id']; ?>"<?php echo $mode['id'] == $cMode ? ' selected' : ''; ?>><?php
                echo htmlspecialchars($mode['name']);
            ?></option>
            <?php endforeach; ?>
        </select>
        <span class="hint">Доступные варианции данных</span>
    </div>

    <div class="field">
        <label for="inn" class="fixed">ИНН:</label>
        <input type="text" maxlength="14" name="inn" value="<?php echo $_GET['inn'] ?? ''; ?>" placeholder="ИНН" />
        <span class="hint">Идентификационный налоговый номер</span>
    </div>

    <div class="field buttons">
        <input type="submit" class="button" value="Просмотр" />
    </div>

</form>

<?php if($errors): ?>
    <?php foreach($errors as $error): ?>
    <div class="failure"><?php echo $error; ?></div>
    <?php endforeach; ?>
    <?php return; ?>
<?php endif; ?>

<?php if($certificates): ?>
    <?php
        $canAccessRequisites = $this->isPermitted($this::AK_REQUISITES);
        $canAccessSochi      = $this->isPermitted($this::AK_SOCHI);

        $colspan = $canAccessRequisites + $canAccessSochi;
    ?>
    <table class="data">
    <?php
        switch($cMode):
            case $this::MODE_EXPIRED: ?>
            <tr>
                <th>#</th>
                <th>ИНН</th>
                <?php if($colspan): ?>
                <th colspan="<?php echo $colspan; ?>">Ссылки:</th>
                <?php endif; ?>
                <th>ФИО</th>
                <th>Роль</th>
                <th>Дата истечения срока действия</th>
            </tr>
            <?php
                foreach($certificates as $index => $certificate):

                    if(isset($statuses[$certificate->Inn])):
                        $class = $statuses[$certificate->Inn] ? 'active' : 'inactive';
                    else:
                        $class = 'default';
                    endif;
            ?>
            <tr class="<?php echo $class; ?>">
                <td class="center"><?php
                    echo $index + 1;
                ?></td>
                <td class="center"><?php
                    echo htmlspecialchars($certificate->Inn);
                ?></td>
                <?php if($canAccessRequisites): ?>
                <td class="center">
                    <a href="index.php?view=<?php echo $this::AK_REQUISITES; ?>&inn=<?php echo urlencode($certificate->Inn); ?>" target="_blank">Реквизиты</a>
                </td>
                <?php endif; ?>
                <?php if($canAccessSochi): ?>
                <td class="center">
                    <a href="index.php?view=<?php echo $this::AK_SOCHI; ?>&inn=<?php echo urlencode($certificate->Inn); ?>" target="_blank">СОчИ</a>
                </td>
                <?php endif; ?>
                <td class="center"><?php
                    echo htmlspecialchars($certificate->Name);
                ?></td>
                <td class="center"><?php
                    echo htmlspecialchars($certificate->Role);
                ?></td>
                <td class="center"><?php
                    echo date('d.m.Y H:i:s', strtotime($certificate->ExpireDate));
                ?></td>
            </tr>
        <?php endforeach; ?>
        <?php break; ?>
    <?php case $this::MODE_EXPIRING_WEEK: ?>
    <?php case $this::MODE_EXPIRING_MONTH: ?>
            <tr>
                <th>#</th>
                <th>ИНН</th>
                <?php if($colspan): ?>
                <th colspan="<?php echo $colspan; ?>">Ссылки:</th>
                <?php endif; ?>
                <th>Роль</th>
                <th>Cостояние сертификата</th>
                <th>Дата истечения срока действия</th>
            </tr>
            <?php
                foreach($certificates as $index => $certificate):

                    if(isset($statuses[$certificate->Inn])):
                        $class = $statuses[$certificate->Inn] ? 'active' : 'inactive';
                    else:
                        $class = 'default';
                    endif;
            ?>
            <tr class="<?php echo $class; ?>">
                <td class="center"><?php
                    echo $index + 1;
                ?></td>
                <td class="center"><?php
                    echo htmlspecialchars($certificate->Inn);
                ?></td>
                <?php if($canAccessRequisites): ?>
                <td class="center">
                    <a href="index.php?view=requisites&inn=<?php echo urlencode($certificate->Inn); ?>" target="_blank">Реквизиты</a>
                </td>
                <?php endif; ?>
                <?php if($canAccessSochi): ?>
                <td class="center">
                    <a href="index.php?view=sochi&inn=<?php echo urlencode($certificate->Inn); ?>" target="_blank">СОчИ</a>
                </td>
                <?php endif; ?>
                <td class="center"><?php
                    echo $this->roleCodeToString($certificate->Role);
                ?></td>
                <td class="center"><?php
                    echo $certificate->Status ? 'Действующий' : 'Отозванный';
                ?></td>
                <td class="center"><?php
                    echo date('d.m.Y H:i:s', strtotime($certificate->ExpireDateTime));
                ?></td>
            </tr>
            <?php endforeach; ?>
        <?php break; ?>
    <?php endswitch; ?>
    </table>

    <?php if($_GET['all'] == 0): ?>

        <div style="text-align: center;">
            <div style="padding: 15px; font-weight: bold;">Показано только <?php echo count($certificates); ?> записей</div>
            <div>
                <button onclick="showAll()" class="button">Показать все записи</button>
            </div>
        </div>

        <script type="text/javascript">
            document.certificates.all.value = 1;
            document.certificates.submit();
        </script>

    <?php endif; ?>

<?php else: ?>
    <div class="empty-resultset">Записей не найдено.</div>
<?php endif; ?>